# Andmebaas
POSTGRES_USER=sinu_kasutaja
POSTGRES_PASSWORD=sinu_parool
POSTGRES_DB=andmebaas
DB_PORT_HOST=port

# Airflow (kui kasutatakse)
# AIRFLOW_UID=uid
# AIRFLOW_USER=user
# AIRFLOW_PASSWORD=password
# AIRFLOW_DB=database

# Näidikulaud (kui kasutatakse)
# DASHBOARD_PORT_HOST=host
# DASHBOARD_AUTOREFRESH_SECONDS=30

# Muud projekti-spetsiifilised muutujad
# Äriregistri avaandmete API
ARIREGISTER_USER=andmed
ARIREGISTER_PASSWORD=andmetes
ARIREGISTER_API_URL=https://avaandmed.ariregister.rik.ee/api

STAT_API_URL=https://andmed.stat.ee/api/v1/et/stat